/**
** FONT FAMILY IMPORTATION **
**/
@font-face {
  font-family: Roboto-Thin;
  src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}
/**
** COLOR VARIABLE IMPORTATION **
**/
body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.logo-container {
  margin-top: 10em;
  text-align: center;
}
.logo-container img {
  margin-bottom: -5em;
  width: 100%;
  max-width: 30em;
}
.logo-container h1 {
  font-family: Roboto-Bold;
  letter-spacing: .25em;
}
.login-container #login-form {
  width: 25%;
  min-width: 25em;
  margin: auto;
  padding: 2em;
  padding-top: 0;
  font-family: Roboto-Light;
}
.login-container #login-form paper-input {
  letter-spacing: .25em;
}
.login-container #login-form #register {
  letter-spacing: .5em;
  font-family: Roboto-Medium;
  text-decoration: none;
  margin: 2.5em auto 0 12em;
  display: inline-block;
}
.login-container #login-form #submit {
  width: 10em;
  background: #01579b;
  color: white;
  letter-spacing: .5em;
  display: block;
  font-family: Roboto-Medium;
  float: right;
  margin-top: 2em;
}

@media only screen and (max-width: 900px) {
  .logo-container {
    margin-top: 0;
  }

  .login-container #register {
    margin-left: 0 !important;
  }
}
