@import "variables.less";

body {
  background-color: @primary-gray;
}

.logo-container {
  margin-top: 3em;
  text-align: center;

  img {
    margin-bottom: -5em;
    width: 100%;
    max-width: 30em;
  }

  h1 {
    font-family: Roboto-Bold;
    letter-spacing: .25em;
  }
}

.login-container {

  #login-form {
    width: 25%;
    min-width: 30em;
    margin: auto;
    padding: 2em;
    font-family: Roboto-Light;
    paper-input {
      letter-spacing: .25em;
    }

    #register {
      letter-spacing: .5em;
      font-family: Roboto-Medium;
      text-decoration: none;
      // margin: 2.7em auto 0 12em;
      display: inline-block;
      margin-top: 2.5em;
      margin-left: 6em;
    }

    #submit {
      display: block;
      width: 10em;
      background: @dark-blue;
      color: white;
      letter-spacing: .5em;
      display: block;
      font-family: Roboto-Medium;
      float: right;
      margin-top: 2em;
      
    }
  }
}