/**
** FONT FAMILY IMPORTATION **
**/
@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

/**
** COLOR VARIABLE IMPORTATION **
**/
#info-container {
    background-color: #0277bd;
    padding: 2em 0 4em 0;
    color: white;
    text-align: center;
}

#info-container h1 {
    font-family: Roboto-Light;
}

#info-container img {
    width: 15em;
    border: 4px solid white;
    border-radius: 15em;
    margin-top: 2em;
}

#tab-container paper-tabs {
    width: 60%;
    margin: auto;
    min-width: 25em;
}

#tab-container paper-tabs[no-bar] paper-tab.iron-selected {
    color: #0277bd;
}

#settings-container {
    /** STYLING FOR DESKTOP VIEW **/
}

#settings-container #show-desktop {
    width: 60%;
    min-height: 100em;
    max-height: 250em;
    background-color: #cfd8dc;
    margin: auto;
}

#settings-container #show-desktop paper-fab {
    margin-right: 1em;
}
