/**
** FONT FAMILY IMPORTATION **
**/
@font-face {
  font-family: Roboto-Thin;
  src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}
/**
** COLOR VARIABLE IMPORTATION **
**/
.dialog-button {
  width: 10%;
  border: 1px solid black;
  float: right;
  color: white;
  background-color: #01579b;
  font-family: Roboto-Light;
  margin-bottom: 1em;
}
paper-input iron-icon {
  margin-right: 0.2em;
}
paper-input #head {
  margin-right: 0.2em;
}
#add-campaign {
  height: auto;
  width: 100%;
  max-width: 50em;
}
#add-campaign #camp-header {
  background-color: #01579b;
  margin-top: 0;
}
#add-campaign h2 {
  overflow: visible !important;
  word-wrap: normal;
  overflow-wrap: break-word;
}
#info-container {
  background-color: #0277bd;
  padding: 2em 0 4em 0;
  color: white;
  text-align: center;
}
#info-container h1 {
  font-family: Roboto-Light;
}
#info-container img {
  width: 15em;
  border: 4px solid white;
  border-radius: 15em;
  margin-top: 2em;
}
#tab-container paper-tabs {
  width: 60%;
  margin: auto;
  min-width: 25em;
}
#tab-container paper-tabs[no-bar] paper-tab.iron-selected {
  color: #01579b;
}
#settings-container {
  width: 100%;
  margin: auto;
  font-family: Roboto-Light;
}
#settings-container a {
  text-decoration: none;
}
#settings-container paper-toolbar {
  background-color: #039be5;
}
#settings-container paper-toolbar .title {
  font-family: Roboto-Regular;
}
#settings-container paper-fab {
  margin-right: 1em;
}
#settings-container span.blue {
  color: #039be5;
}
#settings-container .campaign-title {
  background-color: #01579b;
}
#payment-form {
  padding: 2em;
  margin: auto;
  width: 100%;
  border: 0 solid lightgray;
  overflow: hidden;
  text-align: center;
  background-color: whitesmoke;
}
#payment-form hr {
  display: block;
  clear: both;
}
#payment-form paper-input {
  letter-spacing: .2em;
  text-align: left;
}
#payment-info {
  padding: 2em;
  margin: auto;
  width: 100%;
  border: 0 solid lightgray;
  overflow: hidden;
  text-align: center;
  background-color: whitesmoke;
}
#payment-info hr {
  display: block;
  clear: both;
}
#payment-info .heading iron-icon {
  float: left;
  margin-right: .5em;
}
#payment-info iron-icon {
  float: right;
  cursor: pointer;
  margin-right: 1em;
}
#payment-info p {
  float: left;
  clear: both;
  font-size: 1.2em;
  margin-left: 1em;
}
#payment-info .email {
  font-family: Roboto-Bold;
}
.password-container {
  margin-top: 3em;
}
#password-form {
  padding: 2em;
  margin: auto;
  width: 100%;
  border: 0 solid lightgray;
  overflow: hidden;
  background-color: whitesmoke;
}
#password-form hr {
  display: block;
  clear: both;
}
.heading {
  float: left;
  font-family: Roboto-Medium;
}
.submit-button {
  width: 10%;
  border: 1px solid black;
  float: right;
  color: white;
  background-color: #01579b;
  font-family: Roboto-Light;
}
@media only screen and (max-width: 485px) {
  #add-campaign {
    height: auto;
    width: 100%;
  }
  #add-campaign h2 {
    overflow: visible !important;
    word-wrap: normal;
    overflow-wrap: break-word;
    font-size: 1em;
  }
}
@media only screen and (min-width: 900px) {
  #settings-container paper-toolbar .title {
    margin-left: 0;
  }
  #settings-container {
    width: 60%;
  }
  .heading iron-icon {
    display: none;
  }
  #payment-info {
    padding: .5em;
  }
  #payment-info iron-icon {
    margin: .5em .5em 0 .5em;
  }
}
#campaign-module a {
  text-decoration: none;
}
#campaign-module #show-mobile {
  display: none;
}
#campaign-module #show-desktop {
  width: 100%;
  min-width: 40em;
  height: auto;
  background-color: whitesmoke;
  margin: auto;
  padding-bottom: 3em;
}
#campaign-module paper-fab {
  margin-right: 1em;
}
#campaign-module .campaign-container {
  width: 50vw;
  margin: 3em auto;
  background-color: white;
  height: auto;
  text-align: center;
}
#campaign-module .campaign-container paper-toolbar {
  background-color: #0277bd;
  text-align: left;
}
#campaign-module .campaign-info h3 {
  width: 10em;
  /*min-width: 16vw;*/
  display: inline-block;
  /*padding: 1em;*/
  margin: 1em;
  font-family: Roboto-Thin;
  font-size: 15px;
}
#campaign-module .campaign-info {
  overflow: hidden;
}
#campaign-module .progress-container {
  width: 50vw;
  padding: 1em;
  margin-top: -1.3em;
}
#campaign-module .progress-container paper-progress {
  display: inline-block;
  margin: auto;
  width: 70%;
}
#campaign-module .progress-container h4 {
  display: inline-block;
  margin: auto;
  width: 10vw;
  padding-bottom: 1.5em;
}
#campaign-module .transaction-container {
  width: 100%;
  margin: auto;
}
#campaign-module .after-trans {
  margin-top: 3em;
}
#campaign-module .transaction-header {
  letter-spacing: .2em;
  margin: 0 0 -2em 0;
  padding-top: 0 !important;
}
#campaign-module .transaction {
  margin: 1em auto;
  /*border: 0 solid lightgray;*/
  /*box-shadow: 0 0 10px 1px lightgray !important;*/
  height: 7em;
  width: 100%;
}
#campaign-module .profile-picture {
  float: left;
  width: 6em;
  border-radius: 100%;
  margin: 1em 0 0 3em;
}
#campaign-module .info-left {
  margin-top: 1.3em;
  margin-left: 2em;
  text-align: left;
  float: left;
  white-space: nowrap;
}
#campaign-module .info-right {
  margin-top: 1.3em;
  display: inline-block;
  text-align: left;
  margin-left: 1em;
  white-space: nowrap;
  overflow: hidden;
}
#campaign-module .transaction-info {
  white-space: nowrap;
  overflow: hidden;
}
#campaign-module .hash-name {
  font-family: Roboto-Bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
#campaign-module .top-info-left {
  display: inline-block;
  text-align: center;
  margin: 1em;
}
#campaign-module .top-info-right {
  display: inline-block;
  text-align: center;
  margin: 1em;
  font-size: 0.8em;
}
#campaign-module .top-info-right h3 {
  margin: 0;
}
#campaign-module .amount {
  color: green;
}
#campaign-module .repeat-icon {
  color: #039be5;
}
#campaign-module .fav-icon {
  color: #ff4081;
}
@media only screen and (min-width: 1200px) {
  #campaign-module .info-left {
    margin-top: 1.3em;
    margin-left: 10em;
    text-align: right;
    float: left;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 900px) {
  #campaign-module #show-mobile {
    display: inline;
    width: 100vw;
    height: 100vh;
  }
  #campaign-module #main-toolbar {
    width: 60vw;
  }
  #campaign-module #next-button {
    margin-left: 1em;
  }
  #campaign-module #show-mobile .title {
    margin-left: -0.2em;
  }
  #campaign-module .campaign-title {
    margin-bottom: 1em;
  }
  #campaign-module #show-desktop {
    display: none;
  }
  #campaign-module .campaign-container {
    /*height: 100vh !important;*/
    width: 100%;
    margin: 0 auto;
  }
  #campaign-module .campaign-info h3 {
    width: 100%;
    margin: .5em auto;
    padding: 0;
    letter-spacing: 0;
  }
  #campaign-module .progress-container {
    width: 100%;
    margin-top: .1em;
  }
  #campaign-module .progress-container h4 {
    display: block;
  }
  #campaign-module .transaction-container {
    width: 100%;
  }
  #campaign-module .transaction-info {
    width: 80%;
    text-align: center;
    display: inline;
  }
  #campaign-module .transaction-info h4 {
    width: 28%;
    margin: 2em 1em 2em 0;
    display: inline-block;
  }
}
