@import "variables.less";




#button {
    width: 10%;
    border: 1px solid black;
    float: right;
    color: white;
    background-color: @dark-blue;
    font-family: Roboto-Light;
    margin-bottom: 1em;
}

#add-campaign {
    height: auto;
    width: 100%;
    max-width: 50em;

    #camp-header {
        background-color: @dark-blue;
    }
    
    h2 {
        overflow: visible !important;
            word-wrap: normal;
    overflow-wrap: break-word;
    }
}


#info-container {
  background-color: @medium-blue;
  padding: 2em 0 4em 0;
  color: white;
  text-align: center;

  h1 {
    font-family: Roboto-Light;
  }

  img {
    width: 15em;
    border: 4px solid white;
    border-radius: 15em;
    margin-top: 2em;
  }
}

#tab-container {

  paper-tabs {
    width: 60%;
    margin: auto;
    min-width: 25em;
  }

  paper-tabs[no-bar] paper-tab.iron-selected {
    color: @dark-blue;
  }
}

#settings-container {
  width: 100%;
  margin: auto;
  font-family: Roboto-Light;

  a {
    text-decoration: none;
  }

  paper-toolbar {
    background-color: @light-blue;

    .title {
      font-family: Roboto-Regular;
    }
  }

  paper-fab {
    margin-right: 1em;
  }

  span.blue {
    color: @light-blue;
  }

  .campaign-title {
    background-color: @dark-blue;
  }
}

#payment-form {
  padding: 2em;
  margin: auto;
  width: 100%;
  border: 0 solid lightgray;
  overflow: hidden;
  text-align: center;
  background-color: whitesmoke;

  hr {
    display: block;
    clear: both;
  }

  paper-input {
    letter-spacing: .2em;
    text-align: left;
  }
}

#payment-info {
  padding: 2em;
  margin: auto;
  width: 100%;
  border: 0 solid lightgray;
  overflow: hidden;
  text-align: center;
  background-color: whitesmoke;

  hr {
    display: block;
    clear: both;
  }

  .heading iron-icon {
    float: left;
    margin-right: .5em;
  }

  iron-icon {
    float: right;
    cursor: pointer;
    margin-right: 1em;
  }

  p {
    float: left;
    clear: both;
    font-size: 1.2em;
    margin-left: 1em;
  }

  .email {
    font-family: Roboto-Bold;
  }
}

.password-container {
  margin-top: 3em;
}

#password-form {
  padding: 2em;
  margin: auto;
  width: 100%;
  border: 0 solid lightgray;
  overflow: hidden;
  background-color: whitesmoke;

  hr {
    display: block;
    clear: both;
  }
}

.heading {
  float: left;
  font-family: Roboto-Medium;
}

.submit-button {
  width: 10%;
  border: 1px solid black;
  float: right;
  color: white;
  background-color: @dark-blue;
  font-family: Roboto-Light;
}

@media only screen and (max-width: 485px) {
    #add-campaign {
    height: auto;
    width: 100%;

    
    h2 {
        overflow: visible !important;
        word-wrap: normal;
        overflow-wrap: break-word;
        font-size: 1em;
    }
}
}

@media only screen and (min-width: 900px) {
  #settings-container paper-toolbar .title {
    margin-left: 0;
  }

#settings-container {
  width: 60%;
}

  .heading iron-icon {
    display: none;
  }

  #payment-info {
    padding: .5em;

    iron-icon {
      margin: .5em .5em 0 .5em;
    }
  }
}


#campaign-module {
          a {
            text-decoration: none;
        }
        
        #show-mobile {
            display: none;
        }
        
        #show-desktop {
            width: 100%;
            min-width: 40em;
            height: auto;
            background-color: whitesmoke;
            margin: auto;
            padding-bottom: 3em;
        }
        
        paper-fab {
            margin-right: 1em;
        }
        
        .campaign-container {
            width: 50vw;
            margin: 3em auto;
            background-color: white;
            height: auto;
            text-align: center;
        }
        
        .campaign-container paper-toolbar {
            background-color: @medium-blue;
            text-align: left;
        }
        
        .campaign-info h3 {
            width: 10em;
            /*min-width: 16vw;*/
            display: inline-block;
            /*padding: 1em;*/
            margin: 1em;
            font-family: Roboto-Thin;
            font-size: 15px;
        }
        
        .campaign-info {
            overflow: hidden;
        }
        
        .progress-container {
            width: 50vw;
            padding: 1em;
            margin-top: -1.3em;
        }
        
        .progress-container paper-progress {
            display: inline-block;
            margin: auto;
            width: 70%;
        }
        
        .progress-container h4 {
            display: inline-block;
            margin: auto;
            width: 10vw;
            padding-bottom: 1.5em;
        }
        
        .transaction-container {
            width: 100%;
            margin: auto;
        }
        
        .after-trans {
            margin-top: 3em;
        }
        
        .transaction-header {
            letter-spacing: .2em;
            margin: 0 0 -2em 0;
            padding-top: 0 !important;
        }
        
        .transaction {
            margin: 1em auto;
            /*border: 0 solid lightgray;*/
            /*box-shadow: 0 0 10px 1px lightgray !important;*/
            height: 7em;
            width: 100%;
        }
        
        .profile-picture {
            float: left;
            width: 6em;
            border-radius: 100%;
            margin: 1em 0 0 1em;
        }
        
        .info-left {
            margin-top: 1.3em;
            margin-left: 2em;
            text-align: left;
            float: left;
            white-space: nowrap;
        }
        
        .info-right {
            margin-top: 1.3em;
            display: inline-block;
            text-align: left;
            margin-left: 1em;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .transaction-info {
            white-space: nowrap;
            overflow: hidden;
        }
        
        .hash-name {
            font-family: Roboto-Bold;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
        
        .top-info-left {
            display: inline-block;
            text-align: center;
            margin: 1em;
        }
        .top-info-right {
            display: inline-block;
            text-align: center;
            margin: 1em;
            font-size: 0.8em;
        }
        .top-info-right h3 {
            margin: 0;
        }
        .amount {
            color: green;
        }
        
        .repeat-icon {
            color: #039be5;
        }
        .fav-icon {
            color: #ff4081;
        }
        
        @media only screen and (min-width: 1200px) {
            .info-left {
                margin-top: 1.3em;
                margin-left: 10em;
                text-align: right;
                float: left;
                white-space: nowrap;
            }
        }
        
        @media only screen and (max-width: 900px) {
            #show-mobile {
                display: inline;
                width: 100vw;
                height: 100vh;
            }
            #main-toolbar {
                width: 60vw;
            }
            #next-button {
                margin-left: 1em;
            }
            #show-mobile .title {
                margin-left: -.2em;
            }
            .campaign-title {
                margin-bottom: 1em;
            }
            #show-desktop {
                display: none;
            }
            .campaign-container {
                /*height: 100vh !important;*/
                width: 100%;
                margin: 0 auto;
            }
            .campaign-info h3 {
                width: 100%;
                margin: .5em auto;
                padding: 0;
                letter-spacing: 0;
            }
            .progress-container {
                width: 100%;
                margin-top: .1em;
            }
            .progress-container h4 {
                display: block;
            }
            .transaction-container {
                width: 100%;
            }
            .transaction-info {
                width: 80%;
                text-align: center;
                display: inline;
            }
            .transaction-info h4 {
                width: 28%;
                margin: 2em 1em 2em 0;
                display: inline-block;
            }
        }
}