@import "variables.less";

body {
  //background-color: @primary-gray;
}

#info-container {
  background-color: @medium-blue;
  padding: 2em 0 4em 0;
  color: white;
  text-align: center;

  h1 {
    font-family: Roboto-Light;
  }

  img {
    width: 15em;
    border: 4px solid white;
    border-radius: 15em;
    margin-top: 2em;
  }
}

#tab-container {

  paper-tabs {
    width: 60%;
    margin: auto;
    min-width: 25em;
  }

  paper-tabs[no-bar] paper-tab.iron-selected {
    color: @medium-blue;
  }
}

#settings-container {

  /** STYLING FOR DESKTOP VIEW **/
  #show-desktop {
    width: 60%;
    min-height: 100em;
    max-height: 250em;
    background-color: @primary-gray;
    margin: auto;

    paper-fab {
      margin-right: 1em;
    }
  }
}